pkgbase = rpclib-git
	pkgdesc = c++ msgpack-rpc server and client library
	pkgver = r525.568cc62
	pkgrel = 1
	url = http://rpclib.net
	arch = any
	license = MIT
	makedepends = git
	makedepends = cmake
	makedepends = make
	provides = rpclib
	conflicts = rpclib
	source = rpclib-git::git://github.com/kyechou/rpclib.git
	md5sums = SKIP

pkgname = rpclib-git

